# Logs and Databases
*.log
*.sqlite
data/

# Dependencies
node_modules/
dist/
build/
.env
.venv/
env/

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Heavy Data / Microservices
*.csv
*.json
*.parquet
docker-compose.override.yml
